.switch {
  display: inline-flex;
  align-items: center;
  border: 1px solid gray;
  height: 30px;
  width: 60px;
  border-radius: 100px;
  padding: 2px;
  position: relative;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.switch:has(input:checked) {
  background-color: rgb(0, 213, 71);
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input:checked + .button {
  left: 32px;
}

.button {
  width: 24px;
  height: 24px;
  display: inline-flex;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  background-color: white;
  transition: left 0.2s ease;
}
