.card {
    border-radius: calc(var(--space) * 2);
    transition: color 0.2s ease;
    background-color: rgb(211, 211, 211);
}

.card * {
    color: black;
}

.card:hover, .card:focus {
    border-color: hotpink;
}

.opened {
    background-color: white;
}
